.bgImg {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/e4/ab/66/e4ab6681febc449cff5d9ad492f5fdd3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

div.container-fluid {
    background: rgba(0, 0, 0, 0.7);
    height: 770px;
}

#current {
    color: green
}

.blankRow {
    height: 130px;
}

.pTag1 {
    text-align: center;
}

.demetri {
    font-size: 72px;
    background: -webkit-radial-gradient(gold, green, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 3px solid green;
    color: gold;
    background-color: black;
    margin-bottom: 10px;
}

.photo a {
    font-size: 40px;
}

.photo a:hover {
    background: -webkit-linear-gradient(green, gold, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-family: fantasy;
}

div.container {
    background: rgba(0, 0, 0, 0.7);
}

div.jumbotron {
    background: rgba(0, 0, 0, 0.6);
}


.centerPortfolio {
    text-align: center;
    padding: 20px;
}

.image {
    opacity: 0.6;
}

.image:hover {
    opacity: 1.0;
}


.anemoi {
    margin-bottom: 75px;
}

.anemoi a:hover {
    color: gold;
    text-decoration: none;
    font-family: fantasy;
}

.weatherDashboard {
    margin-bottom: 75px;
}

.weatherDashboard a:hover {
    color: gold;
    text-decoration: none;
    font-family: fantasy;
}

.dayPlanner {
    margin-bottom: 30px;
}

.dayPlanner a:hover {
    color: gold;
    text-decoration: none;
    font-family: fantasy;
}

i {
    margin: 15px;
    font-size: 60px;
    float: inline-start;
}

i:hover {
    background: -webkit-linear-gradient(green, gold, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5rem;
    float: left;
    padding-bottom: 8rem;
}

#footer p {
    text-align: center;
    font-size: 17px;
    color: green;
}

/* MEDIA QUERIES */

@media screen and (min-width: 200px) {
    .photo {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    div.container-fluid {
        height: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    .cont {
        height: 1070px;
    }
}
