footer {
    font-style: italic;
    height: 40px;
}

i:hover {
    color: green;
}

footer i {
    margin: 5px;
    font-size: 30px;
}

footer p {
    margin-top: 5px;
    font-size: 16px;
}

.centerPortfolio {
    text-align: center;
    margin-bottom: 100px;
}

.rows {
    margin-bottom: 50px;
}

.rows a:hover {
    color: green;
    text-decoration: none;
    font-family: fantasy;
}

.pTag1 {
    text-align: left;
    font-size: 100px;
}

.pTag2 {
    text-align: center;
    font-size: 100px;
    color: green;
}

.pTag3 {
    text-align: left;
    font-size: 100px;
    color: black;
}

.demetri:hover {
    color: green;
}
