.bgImg {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/e4/ab/66/e4ab6681febc449cff5d9ad492f5fdd3.jpg");
    background-size: cover;
}

footer {

    font-style: italic;
    float: left;
    padding: 1px;
}

i:hover {
    color: green;
}

i {
    margin: 15px;
    font-size: 60px;
    float: inline-start;
}

.centerPortfolio {
    text-align: center;
    padding: 20px;
}

.rows {
    margin-bottom: 60px;
    float: inline-start;
}

.rows a:hover {
    color: green;
    text-decoration: none;
    font-family: fantasy;
}

.pTag1 {
    text-align: left;
    font-size: 100px;
}

.pTag2 {
    text-align: center;
    font-size: 100px;
    color: green;
}

.pTag3 {
    text-align: left;
    font-size: 100px;
    color: black;
}

div.container {
    background: rgba(0, 0, 0, 0.6);
}

div.jumbotron {
    background: rgba(0, 0, 0, 0.6);
}

.image {
    opacity: 0.6;
}

.image:hover {
    opacity: 1.0;
}

/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 100px;
}
*/
